# Data Processing

In [1]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import  tensorflow as tf

In [11]:
# Import dataset
dataset = pd.read_csv("Churn_Modelling.csv")

dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [37]:
# Dependent Variable
x = dataset.iloc[:, 3: -1].values

#Independent Variable
y = dataset.iloc[:, -1].values

In [44]:
print (pd.DataFrame(x))

        0        1  2   3   4        5  6  7  8        9
0     619   France  0  42   2        0  1  1  1   101349
1     608    Spain  0  41   1  83807.9  1  0  1   112543
2     502   France  0  42   8   159661  3  1  0   113932
3     699   France  0  39   1        0  2  0  0  93826.6
4     850    Spain  0  43   2   125511  1  1  1  79084.1
...   ...      ... ..  ..  ..      ... .. .. ..      ...
9995  771   France  1  39   5        0  2  1  0  96270.6
9996  516   France  1  35  10  57369.6  1  1  1   101700
9997  709   France  0  36   7        0  1  0  1  42085.6
9998  772  Germany  1  42   3  75075.3  2  1  0  92888.5
9999  792   France  0  28   4   130143  1  1  0  38190.8

[10000 rows x 10 columns]

In [46]:
print(y)

[1 0 1 ... 1 1 0]

### Encoding Categorical data

##### Encoding Independent Columns

In [47]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

Gender column

In [48]:
x[:,2] = le.fit_transform(x[:,2])

#Print x as a dataframe
print(pd.DataFrame(x))

        0        1  2   3   4        5  6  7  8        9
0     619   France  0  42   2        0  1  1  1   101349
1     608    Spain  0  41   1  83807.9  1  0  1   112543
2     502   France  0  42   8   159661  3  1  0   113932
3     699   France  0  39   1        0  2  0  0  93826.6
4     850    Spain  0  43   2   125511  1  1  1  79084.1
...   ...      ... ..  ..  ..      ... .. .. ..      ...
9995  771   France  1  39   5        0  2  1  0  96270.6
9996  516   France  1  35  10  57369.6  1  1  1   101700
9997  709   France  0  36   7        0  1  0  1  42085.6
9998  772  Germany  1  42   3  75075.3  2  1  0  92888.5
9999  792   France  0  28   4   130143  1  1  0  38190.8

[10000 rows x 10 columns]

One hot Encoding of Geography Column

In [49]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [1])], remainder="passthrough")

x = np.array(ct.fit_transform(x))

In [52]:
print(pd.DataFrame(x))

     0  1  2    3  4   5   6        7  8  9  10       11
0     1  0  0  619  0  42   2        0  1  1  1   101349
1     0  0  1  608  0  41   1  83807.9  1  0  1   112543
2     1  0  0  502  0  42   8   159661  3  1  0   113932
3     1  0  0  699  0  39   1        0  2  0  0  93826.6
4     0  0  1  850  0  43   2   125511  1  1  1  79084.1
...  .. .. ..  ... ..  ..  ..      ... .. .. ..      ...
9995  1  0  0  771  1  39   5        0  2  1  0  96270.6
9996  1  0  0  516  1  35  10  57369.6  1  1  1   101700
9997  1  0  0  709  0  36   7        0  1  0  1  42085.6
9998  0  1  0  772  1  42   3  75075.3  2  1  0  92888.5
9999  1  0  0  792  0  28   4   130143  1  1  0  38190.8

[10000 rows x 12 columns]

#### Spliiting Data Into Train and Testing Sets

In [54]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size  = 0.2, random_state = 0)

#### Feature Scaling

In [ ]:
#feature sclaing